{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- hero section start -->
<section class="hero">
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 schedule-home-collection d-flex align-items-center">
				<div class="col-inner py-5">
					<div class="row justify-content-center">
						<div class="col-12 col-sm-12 col-md-9">
							<div class="card card-schedule shadow-lg">
								<div class="card-body p-5">
									<h3 class="card-title">Schedule a Home Collection</h3>
									<p>Choose from a range of comprehensive tests and packages and book home collection from the comfort of your home.</p>
									
									<form class="mt-4">
										<div class="form-group mb-3">
											<input type="text" class="form-control rounded-pill" placeholder="What's your name? *" required />
										</div>

										<div class="form-group mb-3">
											<input type="tel" class="form-control rounded-pill" placeholder="Mobile number *" required />
										</div>

										<div class="form-group mb-3">
											<input type="text" class="form-control rounded-pill" placeholder="City" />
										</div>

										<button type="submit" class="btn btn-block rounded-pill w-100 btn-info">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- .col -->
			
			<div class="col-lg-6 col-md-12 col-sm-12 pe-0">
				<div class="col-inner">
					<!-- Slider main container -->
					<div class="swiper swiper-hero">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide">
								<div class="ratio h-100 bg-danger position-relative">
									<img class="ratio-image" src="{% static 'images/slider/Web-images-1.jpg' %}" />
									<div class="d-flex h-100 align-items-center px-5 text-white">
										<div class="px-5">
											<h3 class="fw-bold mb-2">Have you recovered completely from COVID-19?</h3>
											<p class="mb-3">Know your Antibody levels and the effectiveness of COVID vaccine</p>
											<a href="#" class="btn btn-sm btn-light rounded-pill px-4">See Details</a>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="ratio h-100 bg-danger position-relative">
									<img class="ratio-image" src="{% static 'images/slider/Web-image-3_0.jpg' %}" />
									<div class="d-flex h-100 align-items-center px-5 text-white">
										<div class="px-5">
											<h3 class="fw-bold mb-2">COVID-19 Antibody Test</h3>
											<p class="mb-3">for you and your family</p>
											<a href="#" class="btn btn-sm btn-light rounded-pill px-4">See Details</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>
					
						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>

				<div class="flexslider23 d-none" id="hero-slider44" data-aos="fade-left" data-aos-duration="1000">
					<div class="region region-home-slider">
						<div class="views-element-container block block-views block-views-blockslider-block-1" id="block-views-block-slider-block-1">
							<div>
								<div class="view view-slider view-id-slider view-display-id-block_1 js-view-dom-id-631abb0e36cae9d1714863c068225e9c83212fccb67b09ae1021fd2c4fee3eae">
									<div class="view-content">
										<div>
											<div id="homeflexslider" class="flexslider optionset-default">
												<ul class="slides">
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-image-4.jpg" width="800" height="593" alt="rt pcr test for covid 19" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<h3>COVID-19 RT PCR Test</h3>
															<p>The Gold Standard test for detecting Coronavirus</p>
															<a href="/know-about-covid-19" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-image-2.jpg" width="800" height="593" alt="blood test at home near me" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<h3>Worried about going out for a blood test?<br />
																Relax, we will come to you.
															</h3>
															<p>Book sample collection at the comfort of your home</p>
															<a href="/pathkind_app/book-blood-test-online-in-india" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-images-1.jpg" width="800" height="593" alt="Recovery status of covid 19" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<h3>Have you recovered completely from<br />
																COVID-19?
															</h3>
															<p>Know your recovery status with our COVID Recovery Panels</p>
															<a href="/pathkind_app/book-blood-test-online-in-india" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-image-3_0.jpg" width="800" height="593" alt="Health checkup packages" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														<div class="flex-caption">
															<h3>Choose from a range of comprehensive<br />full body health check-up packages.</h3>
															<p>for you and your family</p>
															<a href="/pathkind_app/book-blood-test-online-in-india?sort_by=2" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
													<li>
														<div class="views-field views-field-field-image">
															<div class="field-content">
																<img src="/assets/images/Web-image-5.jpg" width="800" height="593" alt="Covid 19 antibody test" loading="lazy" typeof="foaf:Image" />
															</div>
														</div>
														
														<div class="flex-caption">
															<h3>COVID-19 Antibody Test</h3>
															<p>Know your Antibody levels and the effectiveness of COVID vaccine</p>
															<a href="/pathkind_app/book-blood-test-online-in-india" title="see-details" target="_blank">See Details</a>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
<!-- hero section end -->

{% endblock %}