{% load static %}

<footer class="footer-sec py-5">
	<diV class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-9">
				<div class="col-inner">
					<h2 class="fs-6 fw-bold lh-base">Browse</h2>
					<div class="row">
						<div class="col-12 col-sm-6 col-md-4"><a href="#">About Us</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Mission & Vision</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Management</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Contact Us</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Terms of Use</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Health Packages </a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Career</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Book a Test</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Employee Portal 1</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Notices</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">FAQ</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Partner With Us</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Employee Portal 2</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Privacy Policy</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Upload Prescription</a></div>
						<div class="col-12 col-sm-6 col-md-4"><a href="#">Sitemap</a></div>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-4 col-md-3">
				<div class="col-inner">
					<section class="d-block">
						<h2 class="fs-6 fw-bold lh-base mb-2">Follow us</h2>
						<ul class="list-unstyled d-flex gap-2 social-link border-bottom pb-4">
							<li><a href="#" class="d-flex rounded-circle align-items-center justify-content-center"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" class="d-flex rounded-circle align-items-center justify-content-center"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" class="d-flex rounded-circle align-items-center justify-content-center"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" class="d-flex rounded-circle align-items-center justify-content-center"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</section>

					<section class="d-block">
						<h2 class="fs-6 fw-bold lh-base">Get in Touch</h2>
						<ul class="list-unstyled">
							<li>Call Us: 75000 75111</li>
							<li>Mail Us: care@example.com</li>
						</ul>
					</section>
				</div>
			</div>
		</div>

		<p>© 2022 Shrinivas Diagnostics Pvt. Ltd. All Rights Reserved.</p>
	</diV>
</footer>
